@model RestWebSolut.Models.LinhaPedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LinhaPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroPedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
